
 
.boxed {
	width:100px;
	position:absolute;
  right:-25px;
}
 
.lower-right-box {
	bottom: 0;
    left: 0;
    position: fixed;
]
 
.MathJax_MathML {text-indent: 0;} 
 
li p {
    white-space: nowrap;
}

.well{
    background: rgba(255, 255, 255, 0.9);
}

