*.4ct
*.4tc
*.auc
*.idv
*.dvi
*.aux
*.lg
*.glo
*.idx
*.log
*.toc
*.tps
*.ist
*.acn
*.acr
*.alg
*.bbl
*.tmp
*.blg
*.dvi
*.glg
*.xvd
*.xref
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.TMP
*.tmp
*.mtc1
*.out
*.synctex.gz
ch01.pdf